<%- include('partials/header') %>
<h1>Sipariş Alındı</h1>
<p>Sipariş numaranız: <strong><%= orderNumber %></strong></p>
<a href="/products" class="btn">Alışverişe devam et</a>
<%- include('partials/footer') %>
